{% block paragraph %}
    {% block content %}
        <div class="panel panel-default">
            <div class="panel-heading" id="heading-{{paragraph.id()}}" role="tab">
                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{paragraph.id()}}" aria-expanded="false" aria-controls="collapse-{{paragraph.id()}}">{{content.field_title.0|render}}<i class="pull-right fa fa-plus"></i></a></h4>
            </div>
            <div class="panel-collapse collapse" id="collapse-{{paragraph.id()}}" role="tabpanel" aria-labelledby="heading-{{paragraph.id()}}">
                <div class="panel-body">
                {{content.field_content}}
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock paragraph %}
